@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-primary-hover: #1E40AF;
  --color-background-light: #f8f6f5;
  --color-background-dark: #23140f;
  --color-royal-blue-start: #4169E1;
  --color-royal-blue-end: #1E3A8A;
  
  --font-display: Lexend, sans-serif;
  
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
